$mobile-start: '320px';
$mobile-start-big: '560px';
$mobile-end: '767px';

$tablet-start: '768px';
$tablet-start-big: '1024px';
$tablet-end: '1119px';
$tablet-wide-end: '1279px';

$desktop-end: '9999px';